body {
  font-family: 'Open Sans', sans-serif;
  margin: 30px 230px;
  /* background: #FDFFFC;*/
  background: url(images/bg_image.jpg);
  background-size: cover;
  background-position: center;
  color: #011627l;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(20,20,20,0.8);
  text-align: center;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
}
#page-content {
  margin-left: 5px;
}

.btn-social {
  text-decoration: none;
  color: rgba(20,20,20,0.6);
}

.btn-social:hover {
  text-decoration: none;
  color: rgba(20,20,20,1);
}
ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-right: 20px;
}
i {
  padding-right: 5px;
}
a {
  text-decoration: none;
  color: white;
}

h2 {
  letter-spacing: 2px;
}

footer {
  background: rgba(240,240,240,0.3);
  color: black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
  /*margin: px;*/
  letter-spacing: 2px;
  width: 1140px;

}

.btn-hook {
  background: black;
  padding: 10px 10px;
  border-radius: 3px;
  opacity: 0.8;
}
.btn-hook:hover {
  background: black;
  padding: 10px 10px;
  border-radius: 3px;
  opacity: 1;
}

p {
  padding: 15px 15px;
  text-align: center;
}

.box-white {
  width: 1100px;
  text-align: center;
  margin: 15px auto;
  background: rgb(250, 250, 250);
  padding: 20px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;

}
.poster-size {
  width: 300px;
}

.img-round {
  width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px;
}

#email-box {
  width: 500px;
  height: 30px;
  border: solid 1px;
  margin: 10px 10px;
  align-items: left;
}

#message-box {
  width: 500px;
  height: 150px;
  border: solid 1px;
  margin: 10px 10px;
  align-items: left;
}

#btn-submit {
  background: black;
  color: white;
  padding: 10px 10px;
  border-radius: 3px;
  opacity: 0.8;
}

#btn-submit:hover {
  background: black;
  color: white;
  padding: 10px 10px;
  border-radius: 3px;
  opacity: 1;
}




input {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  padding-left: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
